* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section {
  background-color: #dddddd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  height: 50%;
  width: 25%;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.main {
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 13px;
  padding: 0 10px;
}

.label {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
}

#email,
#password {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}

#email {
  border: 2px solid black;
}

.pass_input {
  border: 2px solid black;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 2px;
}

#sub_btn {
  background-color: #514caf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.5s ease 0s;
}
#sub_btn_con {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#sub_btn:hover {
  background-color: #5f26ba;
}

#sub_btn:hover {
  transform: scale(1.1);
}

#reg_con {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#h5 {
  font-size: 1.1rem;
}

#reg_btn {
  background-color: #c72828;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

#reg_btn:hover {
  background-color: #d32f2fdf;
}
